# try not to add build files into the library.
/build/
/win32/
/linux/
tests/*
/CommProtocol-Static.dir/

# Test files not required.
/CommProto/src/main.cpp
CommProto/include/\.DS_Store

CommProto/src/\.DS_Store

\.DS_Store
